{{- if .Values.control.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "dns-go.fullname" . }}-control
  labels:
    {{- include "dns-go.control.labels" . | nindent 4 }}
{{- end }}
