{{- if .Values.worker.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "dns-go.fullname" . }}-worker
  labels:
    {{- include "dns-go.worker.labels" . | nindent 4 }}
{{- end }}
